.DisplayWatchedMovie{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.listmovies{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 200px; */
    height: 200px;
    border: 2px solid red;
}